In [1]:
import pandas as pd
import numpy as np

In [2]:
sleep = pd.read_csv('Organized_Sleep_Data(Jun-Dec).csv')

In [3]:
#Preview the dataset
sleep.head()

,Start Time,End Time,Minutes Asleep,Minutes Awake,Number of Awakenings,Time in Bed,Minutes REM Sleep,Minutes Light Sleep,Minutes Deep Sleep
0,2020-06-01 10:38PM,2020-06-02 4:15AM,290,47,18,337,58.0,200.0,32.0
1,2020-06-03 1:37AM,2020-06-03 4:39AM,153,29,16,182,9.0,119.0,25.0
2,2020-06-03 11:05PM,2020-06-04 2:13AM,150,38,13,188,15.0,92.0,43.0
3,2020-06-04 11:22PM,2020-06-05 4:23AM,255,46,22,301,16.0,207.0,32.0
4,2020-06-05 11:13PM,2020-06-06 5:35AM,309,73,22,382,64.0,208.0,37.0

In [4]:
#View data types & any missing values
sleep.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Start Time            210 non-null    object
 1   End Time              210 non-null    object
 2   Minutes Asleep        210 non-null    int64
 3   Minutes Awake         210 non-null    int64
 4   Number of Awakenings  210 non-null    int64
 5   Time in Bed           210 non-null    int64
 6   Minutes REM Sleep     196 non-null    float64
 7   Minutes Light Sleep   196 non-null    float64
 8   Minutes Deep Sleep    196 non-null    float64
dtypes: float64(3), int64(4), object(2)
memory usage: 14.9+ KB

In [6]:
#Convert Start & End Time columns to datetime format
sleep['Start Time'] = pd.to_datetime(sleep['Start Time'])
sleep['End Time'] = pd.to_datetime(sleep['End Time'])

In [7]:
#View data types
sleep.dtypes

Start Time              datetime64[ns]
End Time                datetime64[ns]
Minutes Asleep                   int64
Minutes Awake                    int64
Number of Awakenings             int64
Time in Bed                      int64
Minutes REM Sleep              float64
Minutes Light Sleep            float64
Minutes Deep Sleep             float64
dtype: object

In [8]:
#Check for missing values
sleep[sleep.isnull().any(axis=1)]

,Start Time,End Time,Minutes Asleep,Minutes Awake,Number of Awakenings,Time in Bed,Minutes REM Sleep,Minutes Light Sleep,Minutes Deep Sleep
6,2020-06-10 09:39:00,2020-06-10 10:44:00,61,1,0,65,NaN,NaN,NaN
21,2020-06-23 22:47:00,2020-06-24 01:33:00,151,15,6,166,NaN,NaN,NaN
32,2020-07-05 02:58:00,2020-07-05 05:47:00,140,29,3,169,NaN,NaN,NaN
33,2020-07-05 22:58:00,2020-07-06 01:51:00,153,20,1,173,NaN,NaN,NaN
66,2020-08-06 21:51:00,2020-08-07 00:00:00,116,13,1,129,NaN,NaN,NaN
73,2020-08-12 02:42:00,2020-08-12 04:52:00,119,9,1,130,NaN,NaN,NaN
95,2020-09-02 02:42:00,2020-09-02 05:16:00,147,6,1,153,NaN,NaN,NaN
101,2020-09-07 21:45:00,2020-09-08 00:06:00,124,16,1,140,NaN,NaN,NaN
107,2020-09-12 02:30:00,2020-09-12 05:08:00,147,11,1,158,NaN,NaN,NaN
122,2020-09-26 03:41:00,2020-09-26 05:09:00,84,4,2,88,NaN,NaN,NaN
124,2020-09-27 03:38:00,2020-09-27 06:34:00,153,22,2,175,NaN,NaN,NaN
181,2020-11-26 23:17:00,2020-11-27 00:37:00,68,12,4,80,NaN,NaN,NaN
195,2020-12-12 23:52:00,2020-12-13 00:57:00,59,6,1,65,NaN,NaN,NaN
208,2020-12-24 23:48:00,2020-12-25 01:10:00,66,16,1,82,NaN,NaN,NaN

In [9]:
#Replace the missing values with median of entire column values
for i in ['Minutes REM Sleep', 'Minutes Light Sleep', 'Minutes Deep Sleep']:
    sleep[i] = sleep[i].fillna(round(sleep[i].dropna().astype('int').median(),2))

In [10]:
#Verify missing data has been removed
sleep[sleep.isnull().any(axis=1)]

Empty DataFrame
Columns: [Start Time, End Time, Minutes Asleep, Minutes Awake, Number of Awakenings, Time in Bed, Minutes REM Sleep, Minutes Light Sleep, Minutes Deep Sleep]
Index: []

In [11]:
#Preview dataset
sleep

,Start Time,End Time,Minutes Asleep,Minutes Awake,Number of Awakenings,Time in Bed,Minutes REM Sleep,Minutes Light Sleep,Minutes Deep Sleep
0,2020-06-01 22:38:00,2020-06-02 04:15:00,290,47,18,337,58.0,200.0,32.0
1,2020-06-03 01:37:00,2020-06-03 04:39:00,153,29,16,182,9.0,119.0,25.0
2,2020-06-03 23:05:00,2020-06-04 02:13:00,150,38,13,188,15.0,92.0,43.0
3,2020-06-04 23:22:00,2020-06-05 04:23:00,255,46,22,301,16.0,207.0,32.0
4,2020-06-05 23:13:00,2020-06-06 05:35:00,309,73,22,382,64.0,208.0,37.0
...,...,...,...,...,...,...,...,...,...
205,2020-12-21 22:17:00,2020-12-22 05:41:00,386,58,29,444,84.0,231.0,71.0
206,2020-12-22 23:06:00,2020-12-23 03:25:00,226,33,16,259,32.0,161.0,33.0
207,2020-12-23 21:53:00,2020-12-24 04:50:00,365,52,32,417,92.0,221.0,52.0
208,2020-12-24 23:48:00,2020-12-25 01:10:00,66,16,1,82,58.5,225.0,49.0
209,2020-12-25 02:11:00,2020-12-25 05:40:00,182,27,16,209,45.0,116.0,21.0

In [12]:
sleep.to_csv('Clean_Sleep_Data(Jun-Dec).csv', index=False)