In [1]:
import pandas as  pd
import numpy as np

In [2]:
activity = pd.read_csv('Organized_Activity_Data(Jan-Dec).csv')

In [3]:
#Preview the dataset
activity.head()

,Date,Calories Burned,Steps,Distance,Floors,Minutes Sedentary,Minutes Lightly Active,Minutes Fairly Active,Minutes Very Active,Activity Calories
0,2020-01-01,"2,736","10,201",4.46,6,633,341,10,24,"1,482"
1,2020-01-02,"2,637","9,539",4.25,4,608,292,31,2,"1,302"
2,2020-01-03,"2,656","11,394",4.75,5,750,242,32,27,"1,328"
3,2020-01-04,"2,934","17,150",7.20,6,541,294,16,36,"1,657"
4,2020-01-05,"2,961","18,607",7.82,11,452,270,18,48,"1,651"

In [5]:
#View data types and quality
activity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152 entries, 0 to 151
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date                    152 non-null    object
 1   Calories Burned         152 non-null    object
 2   Steps                   152 non-null    object
 3   Distance                152 non-null    float64
 4   Floors                  152 non-null    int64
 5   Minutes Sedentary       152 non-null    object
 6   Minutes Lightly Active  152 non-null    int64
 7   Minutes Fairly Active   152 non-null    int64
 8   Minutes Very Active     152 non-null    int64
 9   Activity Calories       152 non-null    object
dtypes: float64(1), int64(4), object(5)
memory usage: 12.0+ KB

In [6]:
#Convert Date column to datetime data type
activity['Date'] = pd.to_datetime(activity['Date'])

In [7]:
#Function that removes commas from select column values and converts them to integer data type
def convertFit(colmz = [], *args):
    for i in colmz:
        activity[i] = activity[i].replace(',','', regex=True)
        activity[i] = activity[i].astype(str).astype(int)

In [8]:
#Invoke convertFit function
convertFit(['Calories Burned', 'Steps', 'Minutes Sedentary', 'Activity Calories'])

In [9]:
#View data types and quality
activity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152 entries, 0 to 151
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date                    152 non-null    datetime64[ns]
 1   Calories Burned         152 non-null    int32
 2   Steps                   152 non-null    int32
 3   Distance                152 non-null    float64
 4   Floors                  152 non-null    int64
 5   Minutes Sedentary       152 non-null    int32
 6   Minutes Lightly Active  152 non-null    int64
 7   Minutes Fairly Active   152 non-null    int64
 8   Minutes Very Active     152 non-null    int64
 9   Activity Calories       152 non-null    int32
dtypes: datetime64[ns](1), float64(1), int32(4), int64(4)
memory usage: 9.6 KB

In [10]:
#Rename Minute Active columns to be more descriptive
activity.rename(columns={'Minutes Lightly Active': 'Minutes Lightly Active(Fat Burn)', 'Minutes Fairly Active': 'Minutes Fairly Active(Cardio)', 'Minutes Very Active': 'Minutes Very Active(Peak)'}, inplace=True)

In [11]:
#Check for missing values
activity[activity.isnull().any(axis=1)]

Empty DataFrame
Columns: [Date, Calories Burned, Steps, Distance, Floors, Minutes Sedentary, Minutes Lightly Active(Fat Burn), Minutes Fairly Active(Cardio), Minutes Very Active(Peak), Activity Calories]
Index: []

In [12]:
#View data types and quality
activity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152 entries, 0 to 151
Data columns (total 10 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Date                              152 non-null    datetime64[ns]
 1   Calories Burned                   152 non-null    int32
 2   Steps                             152 non-null    int32
 3   Distance                          152 non-null    float64
 4   Floors                            152 non-null    int64
 5   Minutes Sedentary                 152 non-null    int32
 6   Minutes Lightly Active(Fat Burn)  152 non-null    int64
 7   Minutes Fairly Active(Cardio)     152 non-null    int64
 8   Minutes Very Active(Peak)         152 non-null    int64
 9   Activity Calories                 152 non-null    int32
dtypes: datetime64[ns](1), float64(1), int32(4), int64(4)
memory usage: 9.6 KB

In [13]:
#Preivew dataset
activity

,Date,Calories Burned,Steps,Distance,Floors,Minutes Sedentary,Minutes Lightly Active(Fat Burn),Minutes Fairly Active(Cardio),Minutes Very Active(Peak),Activity Calories
0,2020-01-01,2736,10201,4.46,6,633,341,10,24,1482
1,2020-01-02,2637,9539,4.25,4,608,292,31,2,1302
2,2020-01-03,2656,11394,4.75,5,750,242,32,27,1328
3,2020-01-04,2934,17150,7.20,6,541,294,16,36,1657
4,2020-01-05,2961,18607,7.82,11,452,270,18,48,1651
...,...,...,...,...,...,...,...,...,...,...
147,2020-05-27,2330,7850,3.49,4,803,277,5,0,996
148,2020-05-28,3027,13189,8.61,45,706,276,15,57,1736
149,2020-05-29,2965,14866,8.39,22,699,304,9,55,1726
150,2020-05-30,2863,13723,8.38,17,612,299,32,31,1626
151,2020-05-31,2131,4839,2.16,3,593,236,0,0,761

In [12]:
activity.to_csv('Clean_Activity_Data(Jan-May).csv', index=False)