In [1]:
import pandas as  pd
import numpy as np

In [2]:
#Load dataset
activity = pd.read_csv('Organized_Activity_Data(Jun-Dec).csv')

In [3]:
#Preview the  dataset
activity.head()

,Date,Calories Burned,Steps,Distance,Floors,Minutes Sedentary,Minutes Lightly Active,Minutes Fairly Active,Minutes Very Active,Activity Calories
0,2020-06-01,"2,648","11,205",6.60,18,771,255,22,24,"1,331"
1,2020-06-02,"3,118","13,109",8.07,38,602,227,43,74,"1,807"
2,2020-06-03,"2,794","12,708",8.36,37,934,262,15,47,"1,531"
3,2020-06-04,"3,221","17,513",8.62,10,848,275,57,72,"2,009"
4,2020-06-05,"2,789","7,922",3.53,7,761,343,14,21,"1,519"

In [4]:
#View data types and quality
activity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 208 entries, 0 to 207
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date                    208 non-null    object
 1   Calories Burned         208 non-null    object
 2   Steps                   208 non-null    object
 3   Distance                208 non-null    float64
 4   Floors                  208 non-null    int64
 5   Minutes Sedentary       208 non-null    object
 6   Minutes Lightly Active  208 non-null    int64
 7   Minutes Fairly Active   208 non-null    int64
 8   Minutes Very Active     208 non-null    int64
 9   Activity Calories       208 non-null    object
dtypes: float64(1), int64(4), object(5)
memory usage: 16.4+ KB

In [5]:
#Convert Date column to datetime data type
activity['Date'] = pd.to_datetime(activity['Date'])

In [6]:
#Function that removes commas from select column values and converts them to integer data type
def convertFit(colmz = [], *args):
    for i in colmz:
        activity[i] = activity[i].replace(',','', regex=True)
        activity[i] = activity[i].astype(str).astype(int)

In [7]:
#Invoke convertFit function
convertFit(['Calories Burned', 'Steps', 'Minutes Sedentary', 'Activity Calories'])

In [8]:
#View data types and quality
activity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 208 entries, 0 to 207
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date                    208 non-null    datetime64[ns]
 1   Calories Burned         208 non-null    int32
 2   Steps                   208 non-null    int32
 3   Distance                208 non-null    float64
 4   Floors                  208 non-null    int64
 5   Minutes Sedentary       208 non-null    int32
 6   Minutes Lightly Active  208 non-null    int64
 7   Minutes Fairly Active   208 non-null    int64
 8   Minutes Very Active     208 non-null    int64
 9   Activity Calories       208 non-null    int32
dtypes: datetime64[ns](1), float64(1), int32(4), int64(4)
memory usage: 13.1 KB

In [9]:
#Rename Minute Active columns to be more descriptive
activity.rename(columns={'Minutes Lightly Active': 'Minutes Lightly Active(Fat Burn)', 'Minutes Fairly Active': 'Minutes Fairly Active(Cardio)', 'Minutes Very Active': 'Minutes Very Active(Peak)'}, inplace=True)

In [10]:
#Check for missing values
activity[activity.isnull().any(axis=1)]

Empty DataFrame
Columns: [Date, Calories Burned, Steps, Distance, Floors, Minutes Sedentary, Minutes Lightly Active(Fat Burn), Minutes Fairly Active(Cardio), Minutes Very Active(Peak), Activity Calories]
Index: []

In [11]:
#View data types and quality
activity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 208 entries, 0 to 207
Data columns (total 10 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Date                              208 non-null    datetime64[ns]
 1   Calories Burned                   208 non-null    int32
 2   Steps                             208 non-null    int32
 3   Distance                          208 non-null    float64
 4   Floors                            208 non-null    int64
 5   Minutes Sedentary                 208 non-null    int32
 6   Minutes Lightly Active(Fat Burn)  208 non-null    int64
 7   Minutes Fairly Active(Cardio)     208 non-null    int64
 8   Minutes Very Active(Peak)         208 non-null    int64
 9   Activity Calories                 208 non-null    int32
dtypes: datetime64[ns](1), float64(1), int32(4), int64(4)
memory usage: 13.1 KB

In [12]:
#Preivew dataset
activity

,Date,Calories Burned,Steps,Distance,Floors,Minutes Sedentary,Minutes Lightly Active(Fat Burn),Minutes Fairly Active(Cardio),Minutes Very Active(Peak),Activity Calories
0,2020-06-01,2648,11205,6.60,18,771,255,22,24,1331
1,2020-06-02,3118,13109,8.07,38,602,227,43,74,1807
2,2020-06-03,2794,12708,8.36,37,934,262,15,47,1531
3,2020-06-04,3221,17513,8.62,10,848,275,57,72,2009
4,2020-06-05,2789,7922,3.53,7,761,343,14,21,1519
...,...,...,...,...,...,...,...,...,...,...
203,2020-12-21,2416,7184,3.16,2,856,266,19,4,1100
204,2020-12-22,2217,5625,2.50,7,743,253,0,0,859
205,2020-12-23,3155,7072,3.12,1,700,402,50,29,2039
206,2020-12-24,2609,7911,3.51,2,668,343,0,0,1273
207,2020-12-25,594,298,0.13,0,220,21,0,0,61

In [12]:
activity.to_csv('Clean_Activity_Data(Jun-Dec).csv', index=False)