In [10]:
import pandas as pd
import numpy as np
import glob
import csv

In [11]:
path = r"C:\Users\jwkon\Data Learning\FitData\Fit_Project(Jun-Dec)\Raw_Data"
allFiles = glob.glob(os.path.join(path,"*.csv"))

file = []
rows = []
for f in allFiles:
    with open(f, 'r') as csvfile:
        csvfile = csvfile.read().split('\n')
        csvreader = csv.reader(csvfile)
        fields = next(csvreader)
        for row in csvreader:
            rows.append(row)
data = pd.DataFrame(rows)

In [12]:
#Locate activity data in csv import & select Months of interest
not_activity = data[-data[0].str.contains('AM|PM', na=False)]
activity = not_activity[not_activity[0].str.contains('2020-06|2020-07|2020-08|2020-09|2020-10|2020-11|2020-12', na=False)]
activity

              0      1       2     3   4      5    6   7   8      9
1    2020-08-01  2,733  11,524  7.17  36    758  207  15  42  1,299
2    2020-08-02  2,125   5,016  2.23   4    880  221   0   0    730
3    2020-08-03  1,998   3,466  1.51   4    820  173   0   0    560
4    2020-08-04  2,569   8,709  4.95  18    733  252  33  24  1,272
5    2020-08-05  2,963  13,354  7.94   9    700  236  18  54  1,673
..          ...    ...     ...   ...  ..    ...  ...  ..  ..    ...
426  2020-09-26  2,928  11,203  7.28  30    792  257  29  40  1,582
427  2020-09-27  2,572  10,241  6.41  18    755  232   1  41  1,262
428  2020-09-28  2,135   3,820   1.7   6    758  216   0   0    700
429  2020-09-29  2,180   5,380  2.39   4    682  248   0   0    817
430  2020-09-30  2,086   4,216  1.86   6  1,238  202   0   0    655

[208 rows x 10 columns]

In [13]:
#Sort values ascending
activity.sort_values(by=[0], inplace=True, ascending=True)
activity

              0      1       2     3   4    5    6   7   8      9
204  2020-06-01  2,648  11,205   6.6  18  771  255  22  24  1,331
205  2020-06-02  3,118  13,109  8.07  38  602  227  43  74  1,807
206  2020-06-03  2,794  12,708  8.36  37  934  262  15  47  1,531
207  2020-06-04  3,221  17,513  8.62  10  848  275  57  72  2,009
208  2020-06-05  2,789   7,922  3.53   7  761  343  14  21  1,519
..          ...    ...     ...   ...  ..  ...  ...  ..  ..    ...
93   2020-12-21  2,416   7,184  3.16   2  856  266  19   4  1,100
94   2020-12-22  2,217   5,625   2.5   7  743  253   0   0    859
95   2020-12-23  3,155   7,072  3.12   1  700  402  50  29  2,039
96   2020-12-24  2,609   7,911  3.51   2  668  343   0   0  1,273
97   2020-12-25    594     298  0.13   0  220   21   0   0     61

[208 rows x 10 columns]

In [14]:
#Set column header and reset index
activity.columns = [data.iloc[0]]
activity = activity.reset_index(drop=True)

In [15]:
#Verify dataframe has correct number of rows and months of interest
activity

,Date,Calories Burned,Steps,Distance,Floors,Minutes Sedentary,Minutes Lightly Active,Minutes Fairly Active,Minutes Very Active,Activity Calories
0,2020-06-01,"2,648","11,205",6.6,18,771,255,22,24,"1,331"
1,2020-06-02,"3,118","13,109",8.07,38,602,227,43,74,"1,807"
2,2020-06-03,"2,794","12,708",8.36,37,934,262,15,47,"1,531"
3,2020-06-04,"3,221","17,513",8.62,10,848,275,57,72,"2,009"
4,2020-06-05,"2,789","7,922",3.53,7,761,343,14,21,"1,519"
...,...,...,...,...,...,...,...,...,...,...
203,2020-12-21,"2,416","7,184",3.16,2,856,266,19,4,"1,100"
204,2020-12-22,"2,217","5,625",2.5,7,743,253,0,0,859
205,2020-12-23,"3,155","7,072",3.12,1,700,402,50,29,"2,039"
206,2020-12-24,"2,609","7,911",3.51,2,668,343,0,0,"1,273"
207,2020-12-25,594,298,0.13,0,220,21,0,0,61

In [16]:
activity.to_csv('Organized_Activity_Data(Jun-Dec).csv', index=False)